node_modules/
dist/
build/
.env
.env.*
*.log
logs/
.DS_Store
.idea/
.vscode/
*.swp
*.swo
coverage/
.nyc_output/
junit.xml
*.pid
data/
pgdata/
kafka-data/
docker-volumes/
*.iml
.cache/
.parcel-cache/
*.local